$bp-phone: 450px;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$color1: #140f07;
$color1-transparencia: rgba(20, 15, 7, 0.5);

$color2: #1f274c;
$color3: #4f5aa8;
$color4: #8d95fb;
$color5: #dfddf6;
$white-color: #ebebeb;

$background-doc: linear-gradient(0.25turn, #1f274c, #140f07);
