@use "../abstracts/abstracts" as ab;
@use "../base/base" as base;

header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  figure {
    img {
      transform: translateX(-45px);
      width: 300px;
    }
  }
  ul {
    list-style: none;
    display: flex;
    gap: 50px;
    li {
      a {
        text-decoration: none;
        color: ab.$color4;
        &:hover {
          color: ab.$color5;
        }
      }
    }
  }
}
