@use "../abstracts/abstracts" as *;
@use "../base/base" as *;

header.header {
  @include breakpoint(tablet) {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  figure {
    text-align: center;
    img {
      @include breakpoint(tablet) {
      }
      transform: translateX(-45px);
      width: 300px;
    }
  }
  ul {
    list-style: none;
    display: flex;
    gap: 50px;
    li {
      a {
        text-decoration: none;
        color: $color4;
        &:hover {
          color: $color5;
        }
      }
    }
  }
}
