@font-face {
  font-family: "Sono";
  src: url("../../css/fonts/Sono-ExtraBold.woff2") format("woff2"),
    url("../../css/fonts/Sono-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sono";
  src: url("../../css/fonts/Sono-Bold.woff2") format("woff2"),
    url("../../css/fonts/Sono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sono Monospace";
  src: url("../../css/fonts/SonoMonospace-Medium.woff2") format("woff2"),
    url("../../css/fonts/SonoMonospace-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sono Monospace";
  src: url("../../css/fonts/SonoMonospace-Light.woff2") format("woff2"),
    url("../../css/fonts/SonoMonospace-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sono Monospace";
  src: url("../../css/fonts/SonoMonospace-ExtraLight.woff2") format("woff2"),
    url("../../css/fonts/SonoMonospace-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sono Monospace";
  src: url("../../css/fonts/SonoMonospace-ExtraBold.woff2") format("woff2"),
    url("../../css/fonts/SonoMonospace-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sono";
  src: url("../../css/fonts/Sono-Light.woff2") format("woff2"),
    url("../../css/fonts/Sono-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sono";
  src: url("../../css/fonts/Sono-ExtraLight.woff2") format("woff2"),
    url("../../css/fonts/Sono-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sono";
  src: url("../../css/fonts/Sono-Medium.woff2") format("woff2"),
    url("../../css/fonts/Sono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sono Monospace";
  src: url("../../css/fonts/SonoMonospace-Bold.woff2") format("woff2"),
    url("../../css/fonts/SonoMonospace-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sono";
  src: url("../../css/fonts/Sono-Regular.woff2") format("woff2"),
    url("../../css/fonts/Sono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sono Monospace";
  src: url("../../css/fonts/SonoMonospace-SemiBold.woff2") format("woff2"),
    url("../../css/fonts/SonoMonospace-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sono Monospace";
  src: url("../../css/fonts/SonoMonospace-Regular.woff2") format("woff2"),
    url("../../css/fonts/SonoMonospace-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sono";
  src: url("../../css/fonts/Sono-SemiBold.woff2") format("woff2"),
    url("../../css/fonts/Sono-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alexandria";
  src: url("../../css/fonts/Alexandria-Black.woff2") format("woff2"),
    url("../../css/fonts/Alexandria-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alexandria";
  src: url("../../css/fonts/Alexandria-ExtraBold.woff2") format("woff2"),
    url("../../css/fonts/Alexandria-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alexandria";
  src: url("../../css/fonts/Alexandria-Bold.woff2") format("woff2"),
    url("../../css/fonts/Alexandria-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alexandria";
  src: url("../../css/fonts/Alexandria-SemiBold.woff2") format("woff2"),
    url("../../css/fonts/Alexandria-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alexandria";
  src: url("../../css/fonts/Alexandria-Thin.woff2") format("woff2"),
    url("../../css/fonts/Alexandria-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alexandria";
  src: url("../../css/fonts/Alexandria-Light.woff2") format("woff2"),
    url("../../css/fonts/Alexandria-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alexandria";
  src: url("../../css/fonts/Alexandria-Medium.woff2") format("woff2"),
    url("../../css/fonts/Alexandria-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alexandria";
  src: url("../../css/fonts/Alexandria-Regular.woff2") format("woff2"),
    url("../../css/fonts/Alexandria-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alexandria";
  src: url("../../css/fonts/Alexandria-ExtraLight.woff2") format("woff2"),
    url("../../css/fonts/Alexandria-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

$font1: "Sono";
$font2: "Sono Monospace";
$font3: "Alexandria";
