@use "../abstracts/abstracts" as *;
@use "../base/base" as base;

main {
  section.hero {
    box-shadow: 0 0 10px $color3;
    padding: 30px;
    border-radius: 20px;
    background-color: $color1;
    @include breakpoint(tablet) {
      flex-direction: row;
      gap: 100px;
    }
    gap: 25px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    figure {
      img {
        width: 200px;
        border-radius: 50%;
        box-shadow: 0 0 50px $color3;
      }
    }
    .tittle {
      display: flex;
      flex-direction: column;
      gap: 30px;
      h1 {
        font-size: 1.7rem;
        width: 80%;
        strong {
          font-weight: 300;
          color: $color4;
        }
      }
      span {
        font-size: 1.2rem;
      }
    }
  }

  section.description {
    margin: 50px 0;
    h2 {
      color: $color4;
    }
    p {
      padding: 20px 0 0 0;
      color: $color5;
    }
  }

  section.links {
    ul {
      flex-direction: column;
      img {
        width: 250px;
        @include breakpoint(tablet) {
          width: 320px;
        }
      }
    }
  }

  section.links,
  section.proyectos {
    margin: 50px 0;
    h2 {
      color: $color4;
    }
    ul {
      @include breakpoint(tablet) {
        flex-direction: row;
        gap: 250px;
        align-items: baseline;
        padding-left: 0;
      }
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-left: 20px;
      gap: 25px;
    }
    img {
      width: 250px;
      @include breakpoint(tablet) {
        width: 320px;
      }
      width: 400px;
      transition: all 0.5s ease;
      filter: drop-shadow(0px 0px 5px $color3);
      &:hover {
        fill: $color4;
        filter: drop-shadow(0px 0px 5px $color1);
      }
    }
    svg {
      width: 40px;
      fill: $color5;
      transition: all 0.5s ease;
      filter: drop-shadow(0px 0px 5px $color3);
      &:hover {
        fill: $color4;
        filter: drop-shadow(0px 0px 5px $color1);
      }
    }
    article.project {
      box-shadow: 0 0 10px $color3;
      padding: 30px;
      border-radius: 20px;
      background-color: $color1;
      margin: 50px 0;
      display: flex;
      flex-direction: column;
      gap: 50px;
      @include breakpoint(tablethorizontal) {
        flex-direction: row;
      }
      img {
        @include breakpoint(tablethorizontal) {
          width: 50%;
        }
        width: 100%;
        border-radius: 25px;
        box-shadow: 0 0 10px $color2;
      }
      h3 {
        color: $color4;
        font-size: 2rem;
      }
      .project__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .project-links {
        ul {
          margin-top: 50px;
          @include breakpoint(tablet) {
            margin-top: 0px;
          }
          display: flex;
          justify-content: flex-end;
          gap: 50px;
        }
      }
    }
  }
}
