@use "../abstracts/abstracts" as *;
@use "../base/base" as *;

body {
  max-width: 380px;
  @include breakpoint(tablet) {
    max-width: 720px;
  }
  @include breakpoint(tablethorizontal) {
    max-width: 960px;
  }
  @include breakpoint(desktop) {
    max-width: 1200px;
  }
  margin: 0 auto;
  background: $background-doc;
  color: $white-color;
  font-family: $font1;
  span {
    font-family: $font2;
    letter-spacing: -1px;
    color: $color5;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: $font3;
    font-weight: 300;
  }
}
